{% extends 'card.html' %}

{% block content %}
<form method="post">
    <h5 class="mb-4">{{form_data.description}}</h5>
    {% for item in form_data.inputs %}
        <div class="form-group text-left">
            <label class="font-weight-bold" for="{{item.id}}">{{item.label}}</label>
            <input class="form-control" id="{{item.id}}" type="{{item.type}}" name="{{item.name}}" {% if item.required%}required{% endif %}>
        </div>
    {% endfor %}
    <input class="btn btn-primary mt-3" type="submit" value="Сделать запрос">
</form>
{% endblock %}