<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Banquet | {{title}}</title>

        <!-- <link rel="shortcut icon" href="/static/resources/logo/favicon.ico" type="image/x-icon"> -->

        <!-- libs -->
        <link rel="stylesheet" href="/static/libs/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/app.css">
        <link rel="stylesheet" href="/static/css/reset.css">
    </head>

    <body>
        <div class="main-surface">
            <div class="sidebar">
                {% include 'sidebar_fullsize.html' %}
            </div>
            <div class="backdrop-surface">
                <h1 class="mb-4"><a class="text-primary" href="/">Banquet</a> | {{title}}</h1>
                {% block content %}

                {% endblock %}
            </div>
        </div>

        <script src="/static/libs/jquery/jquery.min.js"></script>
        <script src="/static/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    </body>
</html>